<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АС "Аноним"</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <div class="topnav">
        <div class="brand">АС "Аноним"</div>
        <div class="nav-links">
            <a href="/">Главная</a>
            <a href="/help">Помощь</a>
            <a href="/find_author">Определение автора</a>
        </div>
    </div>
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>
