{% extends 'base.html' %}

{% block body %}
<h1 class="title">АС "Аноним"</h1>
<h2 class="title">Поиск автора по тексту</h2>
<form id="textForm" action="" method="post" enctype="multipart/form-data">
    <label for="exampleText">Пример текста:</label>
    <textarea id="exampleText" name="exampleText" rows="5" cols="50" required></textarea>
    <button type="submit">Поиск</button>
</form>
{% if result %}
    <div id="outputArea">
        <p>Результаты поиска:</p>
        {% for key, value in result.items() %}
            {% if value[0] > 2 %}
                <p class="result_ok">{{key}} - {{value[1]}}</p>
            {% endif %}
            {% if value[0] < 2 %}
                <p class="result_no">{{key}} - {{value[1]}}</p>
            {% endif %}
            {% if value[0] == 2 %}
                <p class="result_mb">{{key}} - {{value[1]}}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock body %}